{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}<title>Task</title>{% endblock %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
<div class="tasks">
    <div class="tasks-btn">
        <a href="{% url 'task_list' %}">Список задач</a>
        <a href="{% url 'task_create' %}">Добавить задачу</a>
        {% if user.is_authenticated %}
            <a href="{% url 'account' %}">Личный кабинет</a>
            <a href="{% url 'logout' %}">Выйти</a>
            {% else %}
            <a href="{% url 'register' %}">Зарегистрироваться</a>
            <a href="{% url 'login' %}">Войти</a>
        {% endif %}
        
    </div>
    {% block content %}
    {% endblock %}
</div>
</body>
</html>